.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 92px 14px 50px;
  transition: 0.5s;
}

.search__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 42px;
  padding: 0;
  width: 100%;
}

.search__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  transition: 0.5s;
}

.search__input {
  padding: 0;
  height: 34px;
  border: none;
  color: #A0A0A0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: calc(100% - 38px);
}

.search__input:focus {
  outline: 1px solid rgb(130, 130, 248);
  border-radius: 8px;
}

.search__submit-button {
  width: 34px;
  height: 34px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../../images/search_submit_button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  transition: 0.2s;
}
.search__submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

.search__submit-button_disabled {
  opacity: 0.4;
  pointer-events: none;
  user-select: none;
}

.search__error {
  margin: 0 0 2px 0;
  padding: 0;
  min-height: 8px;
  width: 100%;
  font-size: 8px;
  line-height: 8px;
  color: #EE3465;
  visibility: hidden;
  font-style: normal;
  font-weight: 500;
  text-align: left;
}

.search__error_visible {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .search {
    padding: 86px 30px 61px;
  }
  .search__container {
    margin-bottom: 29px;
  }
  .search__input {
    font-size: 28px;
    padding-left: 38px;
    width: calc(100% - 76px);
    text-align: center;
    background-image: url(../../images/search_finder_icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left 6px;
  }
  .search__error {
    height: 12px;
    font-size: 12px;
    margin: 3px 0 0;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .search {
    padding: 70px 70px 48px;
  }
}